* {
    margin: 0;
    padding: 0;

}

/* SECTION MAIN */
.main {
    min-height: 700px;
}

.main__bck {
    background-image: url('/public/Images/image-background-new.jpg');
    background-size: cover;
    height: 350px;
}

@media screen and (min-width: 800px) {
    .main__bck {

        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .main__bck {
        background-position: center;
        height: 600px;
    }
}

.main__card {
    max-width: 100%;
    height: 100%;
    background-color: #706a6f;
    position: relative;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 2px 32px rgb(31 37 115 / 40%);
    margin-top: -40px;
    /* display: none; */
    margin-bottom: 50px;

    padding: 16px 16px 24px;
}

@media screen and (min-width: 600px) {
    .main__card {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 800px) {
    .main__card {
        display: none;
    }
}

.main__bp {
    display: none;
    margin: -120px auto 0 auto;
}

@media screen and (min-width: 800px) {
    .main__bp {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .main__bp {
        top: -140px;
        left: 110px;

    }
}

.main__bp-wp {
    width: 100%;
    background-color: #706a6f;
    padding: 10px 45px 10px 45px;
}

@media screen and (min-width: 1200px) {
    .main__bp-wp {}
}

.main__bp-t {
    color: white;
}

.main__bp-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 45px 10px 45px;
    background-color: #706a6f;
}

@media screen and (min-width: 1200px) {
    .main__bp-card {}
}

.main__bp-1 {
    color: white;
}

.main__bp-3 {}

.main__bp-g {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.main__bp-icon {
    color: white;
}

.main__bp-pasajeros {
    width: 100%;
    height: 44px;
    background-color: #fff;
    margin-bottom: 35px;
}

.main__bp-p {
    font-size: 14px;
    color: white;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main__bp-i {
    height: 44px;
    line-height: 44px;
    width: 100%;
    border: 1px solid #e8e7e7;
    padding: 15px;
    border-radius: 0;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
    color: #818181;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.main__bp-check {
    display: flex;
    padding: 10px 45px 10px 45px;
    background-color: #706a6f;
}

@media screen and (min-width: 1100px) {
    .main__bp-check {}
}


.main__bp-btn {

    height: 40px;
    line-height: 40px;
    background: white;
    border: none;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: #ff385c;
    font-size: 18px;
}

.main__bp-btn:hover {
    opacity: 0.8;
}

.main__bp-in {
    padding-right: 15px;
}

.main__bp-regreso {
    margin-right: 12px;
    cursor: pointer;
}

.main__bp-l {
    color: white;
}

.main__search-t {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 33.6px;
    margin: 0 0 8px;
    text-align: center;
}

.main__form {}

.main__selector {
    justify-content: space-between;
    padding: 0 0 4px;
    position: relative;
    width: 100%;
}

.main__selector::before {
    background: #fff;
    border-radius: 4px;
    bottom: -4px;
    content: "";
    display: none;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.main__p {
    color: #fff;
    display: inherit;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.main__w {
    display: flex;
    justify-content: center;
}

.main__img {}

.main__btn {
    height: 40px;
    line-height: 40px;
    background: #ff385c;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    flex-direction: row-reverse;
}

.main__btn-w {
    display: flex;
    justify-content: center;
}

.main__radios {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main__li {}

.main__radio {}

.main__checked {
    margin-right: 10px;
    cursor: pointer;
}

.main__origen {
    height: 44px;
    line-height: 44px;
    width: 100%;
    border: 1px solid #e8e7e7;
    padding: 15px;
    border-radius: 8px;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
    color: #818181;
    font-family: Raleway;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__destino {
    height: 44px;
    line-height: 44px;
    width: 100%;
    border: 1px solid #e8e7e7;
    padding: 15px;
    border-radius: 8px;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
    color: #818181;
    font-family: Raleway;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__salida {
    height: 44px;
    line-height: 44px;
    width: 100%;
    border: 1px solid #e8e7e7;
    padding: 15px;
    border-radius: 8px;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
    color: #818181;
    font-family: Raleway;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__regreso {
    height: 44px;
    line-height: 80px;
    width: 100%;
    border: 1px solid #e8e7e7;
    padding: 15px;
    border-radius: 8px;
    outline: 0;
    font-size: 16px;
    background-color: #fff;
    color: #818181;
    font-family: Raleway;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__pasajeros {
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

.main__o {
    width: 100%;
    /* background-image: url(); */
    background-position: right 16px center;
    background-size: 14px 8px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 8px 0px;
}

.main__i {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    height: 40px;
    margin: 0 0 8px;
    padding: 0;
    border: none;
}

.main__icon {
    height: 32px;
    color: white;
    padding-right: 10px;
    font-size: 32px;
}

.main__icon-search {
    padding-right: 15px;
    font-size: 32px;
}

.main__input {
    margin-right: 20px;
    color: white;
}

.main__span {}



/* SECTION SPONSOR */

.sponsor {
    width: 100%;
    height: 100%;
    text-align: center;
}

.sponsor__w {}

.sponsor__t {
    margin-bottom: 60px;
    color: #706a6f;
    margin-top: 60px;
}

.sponsor__carrusel {
    margin-bottom: 20px;
}

.sponsor__img {
    background-size: cover;
    width: 70vw;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    height: 40vh;
    background-image: url(../../../public/Images/alize-mountain.remove.jpg)
}

/* SECTION OUTSIDE */
.outside {
    width: 100%;
    height: 100%;
    text-align: center;
}


.outside__p {}

.outside__w {}

.outside__card-norte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-image: url(../../../public/Images/norte.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.outside__card-litoral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    background-image: url(../../../public/Images/litoral.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.outside__card-bs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    background-image: url(../../../public/Images/bs.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.outside__card-cordoba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    background-image: url(../../../public/Images/cordoba.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.outside__card-brasil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    background-image: url(../../../public/Images/brasil.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}


.outside__wrapper-p {}

.ouside__p {}

/* SECTION DOWNLOAD */
.download {
    /* width: 100%;
    display: grid;
    padding: 30px 0px;
    margin: 70px 0; */
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

@media screen and (min-width: 700px) {
    .download {
        margin: 20px 0;
        padding: 0;

    }
}

.download__video {
   
    width: 100%;
    position: relative;
}

@media screen and (max-width: 700px) {
    .download__video {
        display: none;
    
   
    }
}

.download__wrapper-video {
    text-align: center;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .download__wrapper-video {
   display: block;
   grid-template-columns: 1fr 1fr;
    }
}

.download__p {
    margin-bottom: 20px;
    color: #484848;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .download__p {
        margin-top: 50px;

    }
}


.download__t {
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 33.6px;
    margin: 0 0 90px;
    position: relative;
}

@media screen and (max-width: 700px) {
    .download__t {
        margin-bottom: 30px
    }
}

.download__img {
    background-image: url(/public/Images/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;

}

.download__w {}

.download__g {
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
    .download__g {}
}

.download__img-as {
    background-image: url(/public/Images/descarga-appstore.png);
    background-size: cover;
    width: 165px;
    height: 50px;
    border-radius: 12px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.download__img-gp {
    background-image: url(/public/Images/descarga-googleplay.png);
    background-size: cover;
    width: 165px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 12px;
}