.container {
    padding-top: 30px;
    width: 1200px;
    height: auto;
}

.destino {}

.destino__img {}

.destino__p {}

.destino__card {}

.destino__card-w {}

.destino__card-centro {}

.destino__card-go {}

.destino__card-more {}

.destino__card-text {}

.destino__card-strong {}

.destino__card-a {}