* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  color: #ff385c;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
} */

.container {

  margin: 0 auto;
}

.btn {
  width: 12%;
  padding: 12px;
  background-color: #ff385c;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: 600;

}