/* COMPRA */

.compra {}

/* .compra__h1 {
    color: #706a6f;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 60px;
} */

.compra__p {
    color: #706a6f;

}

.compra__iframe {
    height: 800px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
}



/* EQUIPAJE */

.equipaje {}

.equipaje__h1 {
    font-size: 30px;
    color: #706a6f;
    font-weight: 700;
    margin-bottom: 20px;
}

.equipaje__img {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.equipaje__span {}

.equipaje__strong {
    font-size: 20px;
}

.equipaje__p {
    color: #706a6f;
    font-size: 15px;
    margin-bottom: 15px;
}

.equipaje__wrapper-img {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
}

.equipaje__img-p {
    height: 600px;

}

.equipaje__h2 {
    font-size: 30px;
    color: #706a6f;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.equipaje__p-brasil {
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

/* DOCUMENTACION */
.documentacion {}

.documentacion__img {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

}

.documentacion__h2 {
    font-size: 30px;
    color: #706a6f;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.documentacion__p {
    margin-bottom: 8px;
}

.documentacion__strong {
    padding-right: 12px;
}

/* TICKET */

.ticket {}

.ticket__img {
    margin-bottom: 50px;
}

.ticket__iframe {
    height: 400px;
    margin-bottom: 50px;
    width: 50%;
}

.ticket__img-online {

    margin-bottom: 30px;
}

.ticket__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DISCAPACIDAD */
.discapacidad {}

.discapacidad__h1 {
    font-weight: 700;

}

.discapacidad__strong {}

.discapacidad__p {}

.discapacidad__wrapper {}


/* VENTA */

.venta__iframe {
    width: 100%;
}

.venta__wrapper {}

.venta__p {}

.venta__points {
    background-color: #ff385c;
    display: flex;
    column-gap: 20px;

}

.venta__a {}

.venta__wrapper-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


/* BUSES */

.buses {}

.buses__h1 {
    color: #ff385c;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buses__img-flota {
    margin-bottom: 30px;
}

.buses__strong {}

.buses__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
}

.buses__img {
    height: 300px;
    width: 600px;
    background-size: cover;
    border-radius: 15px;
}

.buses__p {
    color: #706a6f;



}

.maps {
    width: 100%;
    height: 499px;
}

.buses__btn {}

.buses__a {}

.buses__text {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.buses__wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}